# Virtual environments
.venv/
venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# VS Code / IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Environment variables / secrets
.env
.env.*

# Python packaging
build/
dist/
*.egg-info/

# Logs / temporary files
*.log
*.tmp
*.temp

# Project data
data/

# Local databases
*.db
*.sqlite
*.sqlite3

# Power BI temporary files
*.pbit